$white: #dcdedf;
$blue: #2a475e;

.textbox {
    background-color: darkgrey;
    border: 2px solid $blue;
    border-radius: 4px;
    resize: none;
}

.search-button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: $blue;
    color: $white;
    border: 2px solid $white;
    border-radius: 20px;
    font-size: 1rem;

    &:hover {
        background-color: darkgrey;
        color: $blue;
        font-weight: bold;
    }
}

h2,
h3,
p {
    color: $white;
    margin: 8px 0;
}

p {
    font-size: 1rem;
}

:host {
    font-family: "Segoe UI";
    font-size: 14px;
}

.spacer {
    flex: 1;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: $blue;
    color: $white;
    font-weight: 600;
}

.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button {
    cursor: pointer;
}

.link,
.link:visited {
    color: #1976d2;
    font-size: 1rem;

    &:hover {
        color: $white;
        text-decoration: none;
        font-weight: bold;
    }
}
